@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@400;500;600;700&display=swap');
*,*::before,*::after{
    box-sizing: border-box;
}
body{
    margin:0px;
    font-family: 'Anuphan', sans-serif;
}
/*********
* Navbar *
**********/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 70px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.loginSignupBtn{
    background-color: #64B5F6;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 15px;
    transition: .3s ease scale;
    cursor: pointer;
}
.loginSignupBtn:hover{
    scale: 1.08;
}
#logo{
    width: 150px;
    height: auto;
}
/*********
* Auth Modal *
**********/

.AuthModalContainer{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.326);
    display: flex;
    justify-content: center;
    align-items: center;
}
.authCard{
    width: 500px;
    height: max-content;
    background-color: white;
    border-radius: 8px;
    position: relative;
}
.authModalCloseIcon{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 30px;
    cursor: pointer;
}
.form-container{
    /* background-color: red; */
    height: 100%;
    border-radius: 8px;
    padding:10px
}
.buttons{
    margin-bottom: 20px;
    width:100%;
    display: flex;
    align-items:center;
    justify-content:center;
    gap:20px
}
.showLoginBtn{
    /* border: 1px solid gray; */
    font-size: 18px;
    padding: 5px 20px;
    display: inline-block;
    cursor:pointer;
}
.showSingupBtn{
    cursor:pointer;
    /* border: 1px solid gray; */
    font-size: 18px;
    padding: 5px 20px;
    display: inline-block;
}
.showLoginBtn.active,
.showSingupBtn.active{
    text-decoration: underline;
}
.form-container form input{
    display: block;
    height: 40px;
    width: 80%;
    border-radius: 5px;
    padding: 0px 5px;
    font-size: 16px;
    margin: 0px auto;
}
.form-container h2{
    text-align: center;
    margin: 5px 0px;
}
.form-container form label{
    margin: 10px auto;
    width: 80%;
    font-size: 18px;
    font-weight: 600;
    display: block;
}
.form-container form input[type="submit"]{
    margin: 20px auto;
    cursor: pointer;
    padding: 10px 15px;
    height: max-content;
    background-color: rgba(255, 166, 0, 0.683);
}
.loginWithGoogle{
    width: 80%;
    margin: 0px auto;
    background-color: transparent;
    border-radius: 8px;
    padding: 5px 15px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    transition: .3s ease all;
}
.loginWithGoogle:hover{
    scale: 1.02;
    background-color: aliceblue;
}
.googleIcon{
    font-size: 30px;
}
.profileDropdom{
    display: flex;
    gap: 10px;
    border-radius: 8px;
    padding: 5px;
    align-items: center;
    width: max-content;
    border: 2px solid silver;
    font-size: 24px;
    cursor: pointer;
}
.profileDropdom p{
    margin: 0px;
}
.profileDropdom img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid skyblue;
    object-fit: cover;
}
.dropDown{
    padding: 0px;
    margin: 0px;
}
.dropDown li{
    list-style: none;
    cursor: pointer;
    position: relative;
    padding: 5px;
    text-align: center; 
    font-size: 20px;
    display: flex;
    gap: 5px;
    align-items: center;
    /* justify-content: center; */
}
.dropDown li ~ li::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0 auto;
    right: 0px;
    width: 70%;
    border-top: 1px solid silver;
}

.NewPostModal{
    position: fixed;
    inset: 0;
    width: 600px;
    border-radius: 8px;
    margin: auto auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    padding: 10px;
    height: max-content;
    font-size: 18px;
}
.NewPostModal_close{
    position: absolute;
    font-size: 26px;
    top: 5px;
    right: 5px;
    transition: .6s transform ease;
    cursor: pointer;
}
.NewPostModal_close:hover{
    transform: translateY(-2px);
    transition: .3s transform ease;
}
.NewPostModal input{
    display: block;
    width: 90%;
    margin: 10px auto;
    height: 40px;
    padding: 0px 10px;
}
.NewPostModal input[type="submit"]{
    background-color: rgb(249, 202, 115);
    cursor: pointer;
}
.NewPostModal h2{
    display: block;
    width: 90%;
    margin: 10px auto;
}
#post_message{
    display: block;
    padding: 10px 10px;
    width: 90%;
    margin: 10px auto;
    height: 120px;
}

/* 
    Post
*/
.indi_post{
    /* background-color: red; */
    width: 80%;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
    display: flex;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.grp_left{
    background-color: rgb(128 128 128 / 21%);
    flex: 0 0 max-content;
    /* border-radius: 10px; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 10px;
}
.grp_right{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    flex: 1 1 auto;
}
.arrow_grp{
    position: relative;
    display: flex;
    align-items: center;
    gap: 0px;
    font-size: 20px;
}
.arrow_grp > * {
    user-select: none;
}
.arrow_grp p {
    padding: 10px 3px 10px 10px;
}
.direction_indicator{
    font-size: 15px; 
}
.direction_indicator.up{
    color: green; 
}
.direction_indicator.down{
    color: red;
}
.control_arrow{
    cursor: pointer;
    transform: .3 ease scale;
}
.control_arrow:hover{
    scale: 1.2;
}
.grp_right{
    padding: 20px;
}
.post_title{
    font-size: 22px;
    font-weight: 700;
}
.post_body{
    font-size: 16px;
    font-weight: 400;
}
.user_details{
    display: flex;
    gap: 5px;
    align-items: center;
    /* background-color: red; */
}
.user_details img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid orange;
}
.user_details p {
    font-size: 12px;
    color: gray;
    margin-left: auto
}
.user_details p:nth-of-type(1) {
    font-size: 14px;
    font-weight: bolder;
    color: black;
    margin-left: 0px;
}